.sidebar-menu {
  width: 100%;
  position: absolute;
  height: 100vh;
  pointer-events: none;

  &__close {
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    cursor: pointer;
    z-index: 1;
    opacity: 0;

    &.is-active {
      pointer-events: all;
    }
  }

  &__wrap {
    border-bottom: 1px solid #e1e8ec;
    width: 100%;
    padding: 16px;
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    pointer-events: all;
    background-color: #fff;
  }

  &__home-link {
    img {
      max-width: 54px;
      height: auto;
    }
  }

  &__list {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #fff;
    border-right: 1px solid #e1e8ec;
    width: 60%;
    height: 100vh;
    padding-top: 16px;
    pointer-events: none;
    transition: left 0.25s ease-in-out;
    z-index: 2;

    @media only screen and (min-width: 1024px) {
      width: 30%;
    }

    &.is-open {
      pointer-events: all;
      left: 0;
    }

    .sidebar-menu__home-link {
      margin-left: 16px;
    }
  }

  &__list-wrap {
    margin-top: 48px;

    li {
      width: 100%;
      margin-bottom: 32px;

      a {
        font-size: 16px;
        color: #a6b6bf;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0 16px;
        border-right: 4px solid transparent;
        transition: color 0.1s ease-in-out;

        @media only screen and (min-width: 1024px) {
          font-size: 22px;
        }

        &:hover {
          border-color: #62626f;
          color: #62626f;

          i {
            color: #62626f;
          }
        }

        &.active {
          color: #24609b;
          border-color: #24609b;

          i {
            color: #24609b;
          }
        }

        i {
          color: #a6b6bf;
          margin-right: 16px;
          transition: color 0.1s ease-in-out;
        }
      }
    }
  }
}
